In [1]:
import pandas as pd
from matplotlib import pyplot as plt

In [2]:
xl = pd.ExcelFile("diff_coefficients.xlsx")
xl.sheet_names

['Foglio1']

In [3]:
df = xl.parse("Foglio1")

In [4]:
df

,NumLeft,FieldAreaLeft,ItemSurfaceAreaLeft,NumRight,FieldAreaRight,ItemSurfaceAreaRight,Ratio L/R,LogRatio,Log - Normalized,Difficulty Coefficient,Unnamed: 10,Unnamed: 11
0,21,5625.0,19.24,21,5625.00,19.24,1.000000,0.000000,0.000000,1.000000,NaN,NaN
1,21,5625.0,19.24,21,6944.44,19.24,1.000000,0.000000,0.000000,1.000000,NaN,NaN
2,21,5625.0,19.24,21,8402.78,19.24,1.000000,0.000000,0.000000,1.000000,NaN,NaN
3,21,5625.0,19.24,27,10000.00,19.24,0.777778,-0.109144,0.074634,0.925366,NaN,NaN
4,21,5625.0,19.24,37,11736.11,19.24,0.567568,-0.245982,0.168205,0.831795,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
4091,9,40000.0,307.79,9,27777.78,307.79,1.000000,0.000000,0.000000,1.000000,NaN,NaN
4092,9,40000.0,307.79,9,30625.00,307.79,1.000000,0.000000,0.000000,1.000000,NaN,NaN
4093,9,40000.0,307.79,9,33611.11,307.79,1.000000,0.000000,0.000000,1.000000,NaN,NaN
4094,9,40000.0,307.79,9,36736.11,307.79,1.000000,0.000000,0.000000,1.000000,NaN,NaN
4095,9,40000.0,307.79,9,40000.00,307.79,1.000000,0.000000,0.000000,1.000000,NaN,NaN

In [53]:
margin = 0.009
diff = 0.2

low_filter = table[table["Diff_coeff_filtering"] > max(0, diff-margin)]
high_filter =low_filter[low_filter["Diff_coeff_filtering"] < min(diff+margin, 0.99)]

In [54]:
high_filter

,Unnamed: 0,NumLeft,FieldAreaLeft,ItemSurfaceAreaLeft,NumRight,FieldAreaRight,ItemSurfaceAreaRight,Ratio L/R,LogRatio,Log - Normalized,Difficulty Coefficient,Diff_coeff_filtering
191,191,69,27777.78,19.24,112,40000.00,19.24,0.62,-0.21,0.14,0.86,0.201698
251,251,112,40000.00,19.24,69,27777.78,19.24,1.62,0.21,0.14,0.86,0.201698
261,261,9,5625.00,27.70,29,13611.11,27.70,0.31,-0.51,0.35,0.65,0.204188
336,336,29,13611.11,27.70,9,5625.00,27.70,3.22,0.51,0.35,0.65,0.204188
536,536,9,6944.44,37.70,37,20069.44,37.70,0.24,-0.61,0.42,0.58,0.199561
...,...,...,...,...,...,...,...,...,...,...,...,...
3881,3881,1,8402.78,307.79,9,22500.00,307.79,0.11,-0.95,0.65,0.35,0.206079
3963,3963,5,17777.78,307.79,9,27777.78,307.79,0.56,-0.26,0.17,0.83,0.208293
3986,3986,9,22500.00,307.79,1,8402.78,307.79,9.00,0.95,0.65,0.35,0.206079
4023,4023,9,27777.78,307.79,5,17777.78,307.79,1.80,0.26,0.17,0.83,0.208293
4065,4065,9,36736.11,307.79,1,6944.44,307.79,9.00,0.95,0.65,0.35,0.207159