In [1]:
import pandas as pd
from matplotlib import pyplot as plt

In [2]:
table = pd.read_csv("trial_lookup_filtering_coeff.csv")

In [8]:
table.describe()

,Unnamed: 0,NumLeft,FieldAreaLeft,ItemSurfaceAreaLeft,NumRight,FieldAreaRight,ItemSurfaceAreaRight,Ratio L/R,LogRatio,Log - Normalized,Difficulty Coefficient,Unnamed: 10,Unnamed: 11,Diff_coeff_filtering
count,4096.00000,4096.000000,4096.000000,4096.000000,4096.000000,4096.000000,4096.000000,4096.000000,4.096000e+03,4096.000000,4096.000000,0.0,0.0,4096.000000
mean,2047.50000,19.406250,20381.943750,136.581875,19.406250,20381.943750,136.581875,1.787000,4.336809e-18,0.230098,0.769902,NaN,NaN,10.353124
std,1182.55768,19.473083,10646.535116,89.871965,19.473083,10646.535116,89.871965,2.603246,4.609645e-01,0.215049,0.215049,NaN,NaN,9.051952
min,0.00000,1.000000,5625.000000,19.240000,1.000000,5625.000000,19.240000,0.030000,-1.460000e+00,0.000000,0.000000,NaN,NaN,-1.000000
25%,1023.75000,9.000000,11302.082500,59.060000,9.000000,11302.082500,59.060000,0.560000,-2.600000e-01,0.050000,0.650000,NaN,NaN,1.163571
50%,2047.50000,13.000000,18923.610000,120.420000,13.000000,18923.610000,120.420000,1.000000,0.000000e+00,0.170000,0.830000,NaN,NaN,10.721305
75%,3071.25000,21.000000,28489.585000,203.330000,21.000000,28489.585000,203.330000,1.800000,2.600000e-01,0.350000,0.950000,NaN,NaN,16.961560
max,4095.00000,112.000000,40000.000000,307.790000,112.000000,40000.000000,307.790000,29.000000,1.460000e+00,1.000000,1.000000,NaN,NaN,36.016983

In [24]:
margin = 0.055
diff = 0.30

low_filter = table[table["Difficulty Coefficient"] > max(0, diff-margin)]
high_filter =low_filter[low_filter["Difficulty Coefficient"] < min(diff+margin, 0.99)]

In [25]:
high_filter

,Unnamed: 0,NumLeft,FieldAreaLeft,ItemSurfaceAreaLeft,NumRight,FieldAreaRight,ItemSurfaceAreaRight,Ratio L/R,LogRatio,Log - Normalized,Difficulty Coefficient,Unnamed: 10,Unnamed: 11,Diff_coeff_filtering
270,270,9,5625.00,27.70,81,36736.11,27.70,0.11,-0.95,0.65,0.35,NaN,NaN,10.701434
271,271,9,5625.00,27.70,89,40000.00,27.70,0.10,-1.00,0.68,0.32,NaN,NaN,10.765097
480,480,81,36736.11,27.70,9,5625.00,27.70,9.00,0.95,0.65,0.35,NaN,NaN,10.701434
496,496,89,40000.00,27.70,9,5625.00,27.70,9.89,1.00,0.68,0.32,NaN,NaN,10.765097
1793,1793,1,5625.00,110.80,9,6944.44,110.80,0.11,-0.95,0.65,0.35,NaN,NaN,35.651655
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4080,4080,9,40000.00,307.79,1,5625.00,307.79,9.00,0.95,0.65,0.35,NaN,NaN,11.874788
4081,4081,9,40000.00,307.79,1,6944.44,307.79,9.00,0.95,0.65,0.35,NaN,NaN,8.831411
4082,4082,9,40000.00,307.79,1,8402.78,307.79,9.00,0.95,0.65,0.35,NaN,NaN,5.635961
4083,4083,9,40000.00,307.79,1,10000.00,307.79,9.00,0.95,0.65,0.35,NaN,NaN,2.282507
4084,4084,9,40000.00,307.79,1,11736.11,307.79,9.00,0.95,0.65,0.35,NaN,NaN,1.229991