In [22]:
import pandas as pd

In [25]:
table = pd.read_csv("trial_lookup_filtering_coeff.csv")
table

,Unnamed: 0,NumLeft,FieldAreaLeft,ItemSurfaceAreaLeft,NumRight,FieldAreaRight,ItemSurfaceAreaRight,Ratio L/R,LogRatio,Log - Normalized,Difficulty Coefficient,Diff_coeff_filtering
0,0,21,5625.0,19.24,21,5625.00,19.24,1.00,0.00,0.00,1.00,-0.027765
1,1,21,5625.0,19.24,21,6944.44,19.24,1.00,0.00,0.00,1.00,-0.027765
2,2,21,5625.0,19.24,21,8402.78,19.24,1.00,0.00,0.00,1.00,-0.027765
3,3,21,5625.0,19.24,27,10000.00,19.24,0.78,-0.11,0.07,0.93,0.853031
4,4,21,5625.0,19.24,37,11736.11,19.24,0.57,-0.25,0.17,0.83,0.578520
...,...,...,...,...,...,...,...,...,...,...,...,...
4091,4091,9,40000.0,307.79,9,27777.78,307.79,1.00,0.00,0.00,1.00,-0.027765
4092,4092,9,40000.0,307.79,9,30625.00,307.79,1.00,0.00,0.00,1.00,-0.027765
4093,4093,9,40000.0,307.79,9,33611.11,307.79,1.00,0.00,0.00,1.00,-0.027765
4094,4094,9,40000.0,307.79,9,36736.11,307.79,1.00,0.00,0.00,1.00,-0.027765
4095,4095,9,40000.0,307.79,9,40000.00,307.79,1.00,0.00,0.00,1.00,-0.027765

In [28]:
df = table[table["NumLeft"] != table["NumRight"]]
df.to_csv("lookup_table.csv")

In [31]:
input = 0.99
r = df.iloc[(df['Difficulty Coefficient']-input).abs().argsort()[:2]]

C:\Users\bruno\AppData\Local\Temp\ipykernel_10008\1677253256.py:2: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  r = df.iloc[(df['Difficulty Coefficient']-input).abs().argsort()[:2]]

In [35]:
r.iloc(0)