In [3]:
import mysql.connector
import pandas as pd

In [4]:
cn = mysql.connector.connect(user='root', password='12342234',
                                      host='127.0.0.1',
                                      database='dyscalculia')

In [5]:
cursor = cn.cursor(buffered=True)

In [6]:
cursor.execute(("SELECT * FROM trial_result_new;"))
rows = cursor.fetchall()

cn.commit()
cn.close()

In [10]:
headers = [i[0] for i in cursor.description]

In [7]:
df = pd.DataFrame(rows)

In [11]:
df.columns = headers

In [12]:
df.to_csv("trials_data.csv", index=False)

,trial_result_id,player_id,correct,decision_time,area_1_circle_radius,area_1_size_of_chicken,area_1_average_space_between,area_1_number_of_chickens,area_2_circle_radius,area_2_size_of_chicken,area_2_average_space_between,area_2_number_of_chickens,chicken_show_time,created
0,1,1,1,418,0.95,8.50,1.60,9,0.50,8.50,1.60,1,4.00,2022-08-09 13:52:50
1,2,1,1,333,0.50,8.50,1.60,1,0.95,8.50,1.60,9,4.00,2022-08-09 13:52:50
2,3,1,1,109,0.95,8.00,1.52,9,0.50,8.00,1.52,1,4.00,2022-08-09 13:52:50